* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Css */

.primary-btn {
  background-color: #fd6e0a;
  padding: 18px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

header {
  background-color: #fff8f3;
}

.nav {
  display: flex;
  width: 71%;
  margin: 0px auto;
  max-width: 1360px;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav-logo a h2 {
  color: #181818;
  font-weight: 900;
  font-size: 50px;
}
.color-orange {
  color: #fd6e0a;
}
.nav-menu {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-menu li a {
  color: #474747;
  font-size: 22px;
}

.header-btn {
  padding: 18px 35px;
}
